<h2 style="text-align: center;">Create Delivery Boy</h2>
<!-- page content -->
<div class="container main">
  <form [formGroup]="createForm" class="create-form">

    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <div class="input_fields_wraps">
          <div>
            <input type="text" id="name" placeholder="Name of Delivery Boy" #name>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="username">Username</label>
      </div>
      <div class="col-75">
        <div class="input_fields_wraps">
          <div>
            <input type="text" id="username" placeholder="Username of Delivery Boy" #username>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="password">Password</label>
      </div>
      <div class="col-75">
        <div class="input_fields_wraps">
          <div>
            <input type="text" id="password" placeholder="Password of Delivery Boy" #password>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="mobile">Mobile No.</label>
      </div>
      <div class="col-75">
        <div class="input_fields_wraps">
          <div>
            <input type="text" id="mobile" placeholder="Mobile of Delivery Boy" #mobile>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <div class="input_fields_wraps">
          <div>
            <input type="text" id="email" placeholder="Email of Delivery Boy" #email>
          </div>
        </div>
      </div>
    </div>

    <!-- designation part -->
    <div class="row">
      <div class="col-25">
        <label for="designation">Designation</label>
      </div>
      <div class="col-75">
        <div class="input_fields_wraps">
          <div>
            <input type="text" id="designation" placeholder="Designation of Delivery Boy" #designation>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="photograph">Photograph</label>
      </div>
      <div class="col-75">
        <div class="input_fields_wraps">
          <div>
            <input type="text" id="photograph" placeholder="Photograph of Delivery Boy" #photograph>
          </div>
        </div>
      </div>
    </div>

    <!-- description part -->
    <div class="row">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea id="description" placeholder="Detail Description About Delivery Boy...." style="height:200px" #description></textarea>
      </div>
    </div>

    <!-- status -->
    <div class="row">
      <div class="col-25">
        <label for="delivers">(Active/Deactive)</label>
      </div>
      <div class="col-75">
        <div>
          <select #delivers>
            <option [value]="true">True (Activate)</option>
            <option [value]="false">False (DeActivate)</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Create Boy" (click)="addBoy(name.value, username.value, password.value, mobile.value, email.value, designation.value, photograph.value, description.value, delivers.value)">
    </div>
  </form>
</div>
