<h2 style="text-align: center;">Update Explore</h2>
<!-- page content -->
<div class="container main">
  <form action="/" [formGroup]="updateForm" class="edit-form">

  <!-- title part -->
  <div class="row">
      <div class="col-25">
        <label for="title">Explore/Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="title" name="title" formControlName="title" placeholder="Title" #title>
      </div>
    </div>

  <!-- icon part -->
  <div class="row">
      <div class="col-25">
        <label for="icon">Icon</label>
      </div>
      <div class="col-75">
        <input type="text" id="icon" name="icon" formControlName="icon" placeholder="Icon" #icon>
      </div>
    </div>

    <!-- color part -->
    <div class="row">
        <div class="col-25">
          <label for="color">Source</label>
        </div>
        <div class="col-75">
          <input type="text" id="color" name="color" formControlName="color" placeholder="Overlay Color" #color>
        </div>
      </div>

    <!-- tags part -->
      <div class="row">
        <div class="col-25">
          <label for="tag">Tags</label>
        </div>
        <div class="col-75">
          <input type="text" id="tag" name="tag" formControlName="tag" placeholder="Tags seperated by commas for Search efficiency" #tag>
        </div>
      </div>

<!-- image image part -->
<div class="row">
    <div class="form-group">
        <div class="col-25">
          <label for="image">Upload Image</label>
       </div>
	   <div class="col-75">
        <div class="input_fields_wraps">
            <div><input type="text" id="image" name="image" formControlName="image" placeholder="Copy The Image URL Here !!" #image></div>
         </div>
		</div>
    </div>
</div>

    <!-- name part -->
      <div class="row">
        <div class="col-25">
          <label for="name">Explore Key</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" formControlName="name" placeholder="Name of Explore" #name>
        </div>
      </div>


    <div class="row">
      <input type="submit" value="Update Explore" (click)= "updateExplore(name.value, icon.value, image.value, color.value, title.value, tag.value)">
    </div>
  </form>
</div>
